<%namespace name="utilities" file="../utilities.html"/>
<div class="row">
    <div class="box">
        <div class="box__header">
            <h5 class="box__title">Neuen Mitarbeiter erstellen</h5>
        </div>
        <div class="box__content">
            <form action="${data['_routes']['employees.store']}" method="post">
                <label for="first_name">Vorname</label>
                <input type="text" name="first_name" id="first_name">
                <label for="last_name">Nachname</label>
                <input type="text" name="last_name" id="last_name" required>
                <label for="position">Position</label>
                <input type="text" name="position" id="position">
                <input type="submit" value="Absenden">
            </form>
        </div>
    </div>
</div>