<%namespace name="utilities" file="../utilities.html"/>

<form action="${utilities.route(data['_routes']['employees.update'], {'id': data['_old']['id']})}" method="post">
    <label for="first_name">Vorname</label>
    <input type="text" name="first_name" id="first_name" value="${data['_old']['first_name']}">
    <label for="last_name">Nachname</label>
    <input type="text" name="last_name" id="last_name" value="${data['_old']['last_name']}" required>
    <label for="position">Position</label>
    <input type="text" name="position" id="position" value="${data['_old']['position']}">
    <input type="submit" value="Absenden">
</form>