<%namespace name="utilities" file="../utilities.html"/>
<div class="row">
    <div class="box">
        <div class="box__header">
            <h5 class="box__title">Mitarveiter editieren: ${data['_old']['name']} - ${data['_old']['id']}</h5>
        </div>
        <div class="box__content">
            <form class="form"
                  action="${utilities.route(data['_routes']['employees.update'], {'id': data['_old']['id']})}"
                  method="post">
                <div class="form__group">
                    <label class="form__label" for="first_name">Vorname</label>
                    <input class="form__input" type="text" name="first_name" id="first_name" value="${data['_old']['first_name']}">
                </div>
                <div class="form__group">
                    <label class="form__label" for="last_name">Nachname</label>
                    <input class="form__input" type="text" name="last_name" id="last_name" value="${data['_old']['last_name']}" required>
                </div>
                <div class="form__group">
                    <label class="form__label" for="position">Position</label>
                    <input class="form__input" type="text" name="position" id="position" value="${data['_old']['position']}">
                </div>
                <div class="form__group">
                    <button type="submit" class="btn btn--success">Mitarbeiter speichern</button>
                </div>
            </form>
        </div>
    </div>
</div>