.alert {
  padding: 1rem 1.5rem;
  border-radius: .3rem;
  font-size: 1.6rem;
  font-weight: 500;

  &--success {
    background-color: $color-status-success;
    border: 1px solid darken($color-status-success, 5%);
    color: white;
  }

  &--danger {
    background-color: lighten($color-status-danger, 30%);
    border: 1px solid darken($color-status-danger, 5%);
    color: darken($color-status-danger, 25%);
  }

  &--warning {
    background-color: lighten($color-status-warning, 30%);
    border: 1px solid darken($color-status-warning, 5%);
    color: darken($color-status-warning, 25%);
  }

  &--info {
    background-color: lighten($color-status-info, 30%);
    border: 1px solid darken($color-status-info, 5%);
    color: darken($color-status-info, 25%);
  }
}