.btn {
  border: 0;
  border-radius: 0.25rem;
  font-size: 1.3rem;
  line-height: 1.2;
  white-space: nowrap;
  text-decoration: none;
  padding: 1rem 1.5rem;
  cursor: pointer;
  vertical-align: text-bottom;
  display: inline-flex;
  align-items: center;
  background: $color-primary-light;
  color: $color-primary-dark;

  &:not(:last-child) {
    margin-right: .5rem;
  }

  &:active,
  &:focus {
    outline: 0;
    border: none;

    &:not(.btn--small) {
       box-shadow: 0 .2rem 2rem rgba($color-black, .2);
    }
  }

  i {
    margin-right: 0.8rem;
    font-style: normal;
    font-weight: 200;
    font-size: 2rem;

    &.inline {
      margin-right: 0;
    }
  }

  &--success, &--success:visited  {
    background: $color-status-success;
    color: $color-white;

    &:active,
    &:focus {
      background: darken($color-status-success, 5);
      color: $color-white;
    }
  }

  &--danger, &-success:visited {
    background: $color-status-danger;
    color: $color-white;

    &:active,
    &:focus {
      background: darken($color-status-danger, 5);
      color: $color-white;
    }
  }

  &--small {
    padding: 0.5rem 1rem;

    i {
      font-size: 1.5rem !important;
    }
  }
}