.table {
  margin-top: 1.5rem;
  margin-bottom: 4rem;
  width: 100%;
  font-size: 1.3rem;
  border-collapse: collapse;
  overflow: auto;

  td, tr, th {
    padding: .5rem;
    text-align: left;
  }

  th {
    border-bottom: 1px solid $color-grey-light-2;
    text-transform: uppercase;
    font-size: 1.4rem;
  }

  tr {
    &:not(:last-child) {
      border-bottom: 1px solid $color-grey-light-2;
    }
  }

  .actions {
    text-align: right;
    min-width: 120px;
  }


  .name {
    min-width: 120px;
  }

  .year {
    min-width: 60px;
  }

}