<%namespace name="utilities" file="../utilities.html"/>
<div class="row">
    <div class="box">
        <div class="box__header">
            <h5 class="box__title">Neuen Kunde erstellen</h5>
        </div>
        <div class="box__content">
            <form action="${data['_routes']['customers.store']}" method="post">
                <label for="customer_id">Nummer</label>
                <input type="text" name="customer_id" id="customer_id" required>
                <label for="last_name">Bezeichnung</label>
                <input type="text" name="label" id="label" required>
                <label for="position">Ansprechpartner</label>
                <input type="text" name="contact" id="contact">
                <label for="position">Ort</label>
                <input type="text" name="city" id="city">
                <input type="submit" value="Absenden">
            </form>
        </div>
    </div>
</div>