<form action="${data['_routes']['customers.store']}" method="post">
    <label for="customer_id">Nummer</label>
    <input type="text" name="customer_id" id="customer_id" required>
    <label for="last_name">Bezeichnung</label>
    <input type="text" name="description" id="description" required>
    <label for="position">Ansprechpartner</label>
    <input type="text" name="contact" id="contact">
    <label for="position">Ort</label>
    <input type="text" name="city" id="city">
    <input type="submit" value="Absenden">
</form>