<%namespace name="utilities" file="../utilities.html"/>
<div class="row">
    <div class="box">
        <div class="box__header">
            <h5 class="box__title">Kunde editieren: ${data['_old']['label']} (Ansprechpartner: ${data['_old']['contact']}) - ID: ${data['_old']['id']}</h5>
        </div>
        <div class="box__content">
            <form action="${utilities.route(data['_routes']['customers.update'], {'id': data['_old']['id']})}"
                  method="post">
                <label for="customer_id">Nummer</label>
                <input type="text" name="customer_id" id="customer_id" value="${data['_old']['customer_id']}" required>
                <label for="label">Bezeichnung</label>
                <input type="text" name="label" id="label" value="${data['_old']['label']}" required>
                <label for="contact">Ansprechpartner</label>
                <input type="text" name="contact" id="contact" value="${data['_old']['contact']}">
                <label for="city">Ort</label>
                <input type="text" name="city" id="city" value="${data['_old']['city']}">
                <input type="submit" value="Absenden">
            </form>
        </div>
    </div>
</div>