<%namespace name="utilities" file="../utilities.html"/>
<div class="row">
    <div class="box">
        <div class="box__header">
            <h5 class="box__title">Kunde editieren: ${data['_old']['label']} (Ansprechpartner:
                ${data['_old']['contact']}) - ID: ${data['_old']['id']}</h5>
        </div>
        <div class="box__content">
            <form class="form"
                  action="${utilities.route(data['_routes']['customers.update'], {'id': data['_old']['id']})}"
                  method="post">
                <div class="form__group">
                    <label class="form__label" for="customer_id">Nummer</label>
                    <input class="form__input" type="text" name="customer_id" id="customer_id" value="${data['_old']['customer_id']}"
                           required>
                </div>
                <div class="form__group">
                    <label class="form__label" for="label">Bezeichnung</label>
                    <input class="form__input" type="text" name="label" id="label" value="${data['_old']['label']}" required>
                </div>
                <div class="form__group">
                    <label class="form__label" for="contact">Ansprechpartner</label>
                    <input class="form__input" type="text" name="contact" id="contact" value="${data['_old']['contact']}">
                </div>
                <div class="form__group">
                    <label class="form__label" for="city">Ort</label>
                    <input class="form__input" type="text" name="city" id="city" value="${data['_old']['city']}">
                </div>
                <div class="form__group">
                    <button class="btn btn--success" type="submit">Kunde speichern</button>
                </div>
            </form>
        </div>
    </div>
</div>