<%namespace name="utilities" file="../utilities.html"/>
<div class="row">
    <div class="box">
        <div class="box__header">
            <h5 class="box__title">Kundenverwaltung</h5>
            <div class="box__actions">
                <a href="${data['_routes']['customers.create']}" class="btn btn--success"><i>&plus;</i>Neuen Kunden
                    erstellen</a>
            </div>
        </div>
        <div class="box__content">
            <table class="table">
                <thead>
                <th>ID</th>
                <th>Nummer</th>
                <th>Bezeichnung</th>
                <th>Ansprechpartner</th>
                <th>Ort</th>
                <th class="actions"></th>
                </thead>
                <tbody>
                    % for customer in data['customers']:
                        <tr>
                            <td>${customer['id']}</td>
                            <td>${customer['customer_id']}</td>
                            <td>${customer['label']}</td>
                            <td>${customer['contact']}</td>
                            <td>${customer['city']}</td>
                            <td class="actions">
                                <a href="${utilities.route(data['_routes']['customers.show'], {'id': customer['id']})}" class="btn btn--small"><i class="fas fa-edit inline"></i></a>
                                <form class="inline-block" action="${utilities.route(data['_routes']['customers.delete'], {'id': customer['id']})}"
                                      method="post">
                                    <button type="submit" class="btn btn--danger btn--small"><i class="fas fa-trash-alt inline"></i></button>
                                </form>
                            </td>
                        </tr>
                    % endfor
                </tbody>
            </table>
        </div>
    </div>
</div>