<%namespace name="utilities" file="../utilities.html"/>

<table>
    <thead>
    <th>ID</th>
    <th>Nummer</th>
    <th>Bezeichnung</th>
    <th>Ansprechpartner</th>
    <th>Ort</th>
    </thead>
    <tbody>
        % for customer in data['customers']:
            <tr>
                <td>${customer['id']}</td>
                <td>${customer['customer_id']}</td>
                <td>${customer['description']}</td>
                <td>${customer['contact']}</td>
                <td>${customer['city']}</td>
                <td>
                    <a href="${utilities.route(data['_routes']['customers.show'], {'id': customer['id']})}">Bearbeiten</a>
                    <form action="${utilities.route(data['_routes']['customers.delete'], {'id': customer['id']})}" method="post">
                        <input type="submit" value="Löschen" class="btn-link">
                    </form>
                </td>
            </tr>
        % endfor
    </tbody>
</table>
<a href="${data['_routes']['customers.create']}">Neuen Kunden erstellen</a>