<%namespace name="utilities" file="../utilities.html"/>
<div class="row">
    <div class="box">
        <div class="box__header">
            <h5 class="box__title">Kundenverwaltung</h5>
            <div class="box__actions">
                <a href="${data['_routes']['customers.create']}" class="btn btn--success"><i>&plus;</i>Neuen Kunden
                    erstellen</a>
                <button class="btn btn--danger btn--small delete"><i
                                                    class="fas fa-trash-alt inline"></i></button>
                <button class="btn btn--small edit"><i class="fas fa-edit inline"></i></button>
            </div>
        </div>
        <div class="box__content">
            % if len(data['customers']) > 0:
                <div class="overflow-container">
                    <table class="table clickable">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nummer</th>
                            <th>Bezeichnung</th>
                            <th>Ansprechpartner</th>
                            <th>Ort</th>
                            <th class="actions"></th>
                        </tr>
                        </thead>
                        <tbody>
                            % for customer in data['customers']:
                                <tr>
                                    <td>${customer['id']}</td>
                                    <td>${customer['customer_id']}</td>
                                    <td>${customer['label']}</td>
                                    <td>${customer['contact']}</td>
                                    <td>${customer['city']}</td>
                                    <td class="actions">
                                        <a href="${utilities.route(data['_routes']['customers.show'], {'id': customer['id']})}"
                                           class="btn btn--small edit"><i class="fas fa-edit inline"></i></a>
                                        <form class="inline-block"
                                              action="${utilities.route(data['_routes']['customers.delete'], {'id': customer['id']})}"
                                              method="post">
                                            <button type="submit" class="btn btn--danger btn--small"><i
                                                    class="fas fa-trash-alt inline delete"></i></button>
                                        </form>
                                    </td>
                                </tr>
                            % endfor
                        </tbody>
                    </table>
                </div>
            % else:
                <p>Aktuell sind noch keine Kunden vorhanden.</p>
            % endif
        </div>
    </div>
</div>